<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%include ../modules/meta.html%>
    <title>登录</title>
</head>
<body>
    <div id="app">
        <h1>登入</h1>
        <div class="con">
            <div class="info">
                <label for="">用户名</label>
                <input type="text" v-model="userName">
            </div>
            <div class="info">
                <label for="">密码</label>
                <input type="password" v-model="password">
            </div>
            <div class="sub">
                <span @click="submit()">登录</span>
            </div>
        </div>
    </div>
</body>
<%include ../modules/script.html%>
<script src="/login_login.bundle.js"></script>
</html>